<h1>Editar Arquivo</h1>

<%= render 'form', archive: @archive %>

<%= link_to @archive, class:'waves-effect waves-teal btn-flat' do %>
  <i class="material-icons">image</i>
  Mostrar
<% end %>
<%= link_to archives_path, class:'waves-effect waves-teal btn-flat' do %>
  <i class="material-icons">assignment_return</i>
  Voltar
<% end %>
