<h1 class="center-align">Novo arquivo</h1>

<%= render 'form', archive: @archive %>

<div class="row">
  <%= link_to archives_path, class:'waves-effect waves-teal btn-flat' do %>
    <i class="material-icons">assignment_return</i>
    Voltar
  <% end %>
</div>
