//Buttons ---------------------------------------
.btn-flat:focus, .btn-flat:hover {
  color: black;
  text-decoration: none;
}

.btn-color {
  color: black !important;
}

.btn-right {
  position: absolute !important;
  bottom: 11em;
  top: -2em;
  right: 1em;
}

// Links ----------------------------------------
a:hover {
  color: black !important;
  text-decoration: none !important;
}

.sort_link {
  background-color: inherit !important;
}

// Orders ---------------------------------------
.bold {
  font-weight: bold;
  height: 20px;
}

#notice {
  line-height: 0px;
  margin: 10px;
}

.parallax-container {
  height: "300";
}

// Images ---------------------------------------
.material-icons {
  vertical-align: top;
}

.img-link img {
  width: 130px !important;
  height: 130px !important;
}

// Forms ----------------------------------------
.input-field input[type=search] {
  font-size: 2em;
  padding-left: 1rem !important;
  margin-left: 4rem !important;
}

.input-field .prefix {
  font-size: 3rem !important;
}

// Pagination -----------------------------------
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination a:hover {
  color: #2a6496;
  background-color: #eee;
  border-color: #ddd;
}

.pagination a, .pagination em, .pagination span {
  color: #444;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #428bca;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination em {
  z-index: 2;
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
  cursor: default;
}

.pagination span {
  color: #777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}

// Responsiveness -------------------------------
@media only screen and (min-width: 0) {
  .row .col.s12 {
    margin-bottom: 40px !important;
    margin-top: 40px !important;
  }
}

@media only screen and (min-width: 601px) {
  .row .col.m3 {
    width: 30% !important;
    margin-left: 15px !important;
    margin-bottom: 40px !important;
    margin-top: 40px !important;
  }
}

@media only screen and (min-width: 1000px) {
  .row .col.l2 {
    width: 23% !important;
    margin-left: 57px !important;
    margin-bottom: 40px !important;
    margin-top: 40px !important;
  }
}

@media only screen and (min-width: 1300px) {
  .row .col.l2 {
    width: 23% !important;
    margin-left: 15px !important;
    margin-bottom: 40px !important;
    margin-top: 40px !important;
  }
}

